In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                           'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'F' : [0,1,1,1,0,0,1,1],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})

In [3]:
print(df)

     A      B         C         D  F
0  foo    one -0.871583  0.813868  0
1  bar    one -0.048384 -0.426219  1
2  foo    two  0.880538 -0.711629  1
3  bar  three -0.762868  1.206371  1
4  foo    two  0.598680 -0.989562  0
5  bar    two -2.105915  0.514869  0
6  foo    one  0.724693  1.190669  1
7  foo  three  0.438891  2.488184  1

In [4]:
gb = df[['A','B','F']].groupby(by = ['A', 'B'])

In [7]:
gb.size()

A    B
bar  one      1
     three    1
     two      1
foo  one      2
     three    1
     two      2
dtype: int64

In [10]:
gb.size().loc['bar','one']

1

In [15]:
gb.get_group(('bar','one')).head()

     A    B  F
1  bar  one  1

In [6]:
gb.head()

     A      B  F
0  foo    one  0
1  bar    one  1
2  foo    two  1
3  bar  three  1
4  foo    two  0
5  bar    two  0
6  foo    one  1
7  foo  three  1

In [9]:
feature_df = pd.get_dummies(df['B'], prefix='B')

In [10]:
print(feature_df)

   B_one  B_three  B_two
0      1        0      0
1      1        0      0
2      0        0      1
3      0        1      0
4      0        0      1
5      0        0      1
6      1        0      0
7      0        1      0

In [4]:
selcols=['A', 'B']
#gp = df[selcols].groupby(by=selcols[0:len(selcols)-1])[selcols[len(selcols)-1]].nunique().reset_index().\
 #                   rename(index=str, columns={selcols[len(selcols)-1]: 'X'+str(0)})

In [20]:
print(gp)

     A  X0
0  bar   3
1  foo   3

In [21]:
 df = df.merge(gp, on=selcols[0:len(selcols)-1], how='left')

In [22]:
print(df)

     A      B         C         D  F  X0
0  foo    one -0.648044 -0.635588  0   3
1  bar    one  0.283840 -0.820801  1   3
2  foo    two  0.287389  1.318355  1   3
3  bar  three  0.234812  1.034404  1   3
4  foo    two  0.860851  0.497785  0   3
5  bar    two -1.276869  0.609126  0   3
6  foo    one -0.084027  0.365510  1   3
7  foo  three -1.040974 -0.227764  1   3

In [31]:
gp = df[selcols].groupby(by=selcols[0:len(selcols)])[selcols[len(selcols)-1]].cumcount()

In [32]:
print(gp)

0    0
1    0
2    0
3    0
4    1
5    0
6    1
7    0
dtype: int64

In [33]:
df['X'+str(1)]=gp.values
print(df)

     A      B         C         D  F  X0  X1
0  foo    one -0.648044 -0.635588  0   3   0
1  bar    one  0.283840 -0.820801  1   3   0
2  foo    two  0.287389  1.318355  1   3   0
3  bar  three  0.234812  1.034404  1   3   0
4  foo    two  0.860851  0.497785  0   3   1
5  bar    two -1.276869  0.609126  0   3   0
6  foo    one -0.084027  0.365510  1   3   1
7  foo  three -1.040974 -0.227764  1   3   0

In [9]:
print(len(selcols))
selcols[0:1]
selcols[1]

2

'B'

In [6]:
gp = df[selcols].groupby(by=selcols[0:len(selcols)-1])[selcols[len(selcols)-1]].nunique().reset_index().\
                    rename(index=str, columns={selcols[len(selcols)-1]: 'X'+str(2)})
df = df.merge(gp, on=selcols[0:len(selcols)-1], how='left')

In [7]:
print(df)

     A      B         C         D  F  X2
0  foo    one -0.678587 -0.021507  0   3
1  bar    one  0.127157  0.223236  1   3
2  foo    two  0.105447 -0.046547  1   3
3  bar  three  0.814818 -0.007588  1   3
4  foo    two -0.613876  0.239734  0   3
5  bar    two -1.368168  0.464871  0   3
6  foo    one -1.748722 -0.154306  1   3
7  foo  three -1.114440  0.185988  1   3

In [7]:
gp = df[['A','B','F']].groupby(by=['A','F'])['B'].count().reset_index().\
                    rename(index=str, columns={'C': 'X'+str(2)})

In [8]:
print(gp)

     A  F  B
0  bar  0  1
1  bar  1  2
2  foo  0  2
3  foo  1  3

In [12]:
selcols[0:len(selcols)-1]

['A']

In [4]:
grouped_A = df.groupby('A')

In [5]:
grouped_A.head()

     A      B         C         D  F
0  foo    one  1.289353  0.509830  0
1  bar    one  0.469117  0.442445  1
2  foo    two  0.023068 -1.038745  1
3  bar  three -0.466837 -0.398531  1
4  foo    two  1.076207  0.211089  0
5  bar    two  0.758933 -0.824014  0
6  foo    one -0.656213  0.090006  1
7  foo  three  0.158419 -0.404426  1

In [6]:
grouped_AB = df.groupby(['A', 'B'])

In [7]:
grouped_AB.head()

     A      B         C         D  F
0  foo    one -0.096379  1.669407  0
1  bar    one  0.629027 -0.290658  1
2  foo    two -0.107365 -0.599021  1
3  bar  three -0.099692 -0.438012  1
4  foo    two  0.308038  0.962948  0
5  bar    two  0.580452 -1.107703  0
6  foo    one -0.388809 -0.075577  1
7  foo  three  1.552751 -0.459884  1

In [8]:
grouped=df[['A','B','C']].groupby(by=['A','B']).count()#.reset_index().rename(index=str,columns={'channel':'E'})
print(grouped)

           C
A   B
bar one    1
    three  1
    two    1
foo one    2
    three  1
    two    2

In [9]:
grouped=df[['A','B','C']].groupby(by=['A','B']).count().reset_index().rename(index=str,columns={'C':'E'})
print(grouped)

     A      B  E
0  bar    one  1
1  bar  three  1
2  bar    two  1
3  foo    one  2
4  foo  three  1
5  foo    two  2

In [10]:
df = df.merge(grouped, on=['A','B'], how='left')

In [11]:
print(df)

     A      B         C         D  F  E
0  foo    one -0.096379  1.669407  0  2
1  bar    one  0.629027 -0.290658  1  1
2  foo    two -0.107365 -0.599021  1  2
3  bar  three -0.099692 -0.438012  1  1
4  foo    two  0.308038  0.962948  0  2
5  bar    two  0.580452 -1.107703  0  1
6  foo    one -0.388809 -0.075577  1  2
7  foo  three  1.552751 -0.459884  1  1

In [12]:
group_B=df[['A','B','F']].groupby('B').count().reset_index().rename(index=str,columns={'A':'count_B'})

In [13]:
print(group_B)

       B  count_B  F
0    one        3  3
1  three        2  2
2    two        3  3

In [57]:
group_count=df[['A','B']].groupby('B').count()

In [58]:
print(group_count)

       A
B
one    3
three  2
two    3

In [54]:
print(group_B)

       B  count_B
0    one        3
1  three        2
2    two        3

In [55]:
df = df.merge(group_B, on=['B'], how='left')

In [56]:
print(df)

     A      B         C         D  E  count_B
0  foo    one -1.009651 -0.494641  2        3
1  bar    one -1.135994 -1.420277  1        3
2  foo    two  1.041457 -1.959387  2        3
3  bar  three  0.074837  0.784658  1        2
4  foo    two  0.324061 -1.288325  2        3
5  bar    two -0.603225 -0.693223  1        3
6  foo    one -1.995748 -0.582774  2        3
7  foo  three -0.286159 -2.533362  1        2